/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
 
html {
	font-size: 16px;
}
 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}
 
ul, 
ol {
  list-style-type: none;
} 

a {
	color: #e2e3ed;
  text-decoration: none;
}

h1 {
  font-family:'Poppins', sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.25em;
}
 
h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
}
 
p {
	font-size: 1em;
  line-height: 150%;
}
 
img {
  width: 100%;
}

figure {
 margin: 0;
}
 
address {
 font-style:italic;
}

.content-wrapper {
  width: 100%;
  margin: 20px 0;
}
   /* -------------- Base Header - Footer Styles End ---------------- */


header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header {
  background-color: #202322;
}

header img {
  width:220px;
}

.header-divider {
  width: 100%;
  background: #3a3a3a; 
  height: 1px;
  margin: 10px 0 20px 0;
}

header .content-wrapper{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-flow: row wrap;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/*----------- Footer Content Wrapper ----------*/
footer {
  background-color: #202322;
}

footer .content-wrapper {
  width: 55%;
}

.general-contact{
  display:flex;
  justify-content:center;
  flex-flow: column;
  align-items: center;
  flex-basis: 50%;
  color:#fff;
}

.general-contact p {
  text-align: center;
}

.social{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  color:#fff;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  background-color:#527158;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 5px;
}

footer .social-icons p i {
  font-size: 1.3125em;
}

footer .copyright {
  color:#fff;
  padding-bottom: 10px;
}

/*--------------- Input Form Styles  --------------*/

aside {
  background-color: #527158;
  color:#fff;
}
aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.reviews .content-wrapper {
  background-color: #2a423a;
  color:#fff;

}

/*--------------- Base Header - Footer Styles Ends -------------*/


/*--------------- Mobile homepage Styles --------------*/
header {
  padding: 20px 0;
}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.hero-area{
  display:flex;
  justify-content:center;
  flex-flow: row wrap;
  color: #fff;
  margin: 0;
  background: url('../assets/unplugged-retreat.jpg') center no-repeat #333;
  background-size: cover;
}
.hero-area h1 {
  display: flex;
  justify-content: left;
  color: #fff;
  margin: 0 20px 300px 20px;
  font-weight: normal;
}

aside{
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow: row wrap;
  padding: 5px 30px 5px 30px ;
}

aside .form h3 , aside .form-description h3 {
  font-weight: normal;
}

.features {
  display:flex;
  justify-content:center;
  flex-flow: row wrap;
  padding: 50px 36px 66px 19px;
  background: url('../assets/gathered-around-campfire.jpg') center no-repeat #333;
  background-size: cover;
  color: #fff;
}

.features h2 {
  margin-bottom: 60px;
  color: #fff;
  font-weight: normal;
}

.features i {
	font-size: 3.75em;
  margin: 0 0 40px 60px;
  
}

.features article {
  width: 63%;
  margin: 30px 0;
}

.features p {
  margin: 0;
}

.features .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.reviews .content-wrapper {
  margin: 0;
  padding: 30px 10px;
  width: 100%;
}

.reviews {
  display:flex;
  justify-content: center;
  flex-flow: row wrap;
}

.reviews img {
  width: 350px;
  height: 450px;
}

.reviews h1 {
  margin-bottom: 40px;
  font-weight: normal;
}

.reviews h3 {
  width: 55%;
  margin: 20px 0;
  font-weight: normal;
}

footer .content-wrapper p {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------- Mobile About Page Styles ----------*/

.mission {
  justify-content:center;
  align-items: center;
  flex-flow: row wrap;
  padding: 10px 15px 50px 15px;
  background-color: #527158;
  color: #fff;
}

.maps figure {
  width: 100%;
  position: relative;
  padding-bottom: 125%;
  height: 0;
  overflow: hidden;
}

.maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-wrapper .contact-content {
  color: #fff;
}

.mission-contact {
  display:flex;
  justify-content:left;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
}

.contact-wrapper {
  background: #2a423a;
  padding: 10px;
}

.mission-contact h2 {
  margin: 0;
  padding: 0px;
}
/*----------- Mobile FAQ Page Styles -----------*/
.faq-wrapper {
  color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-flow: row wrap;
  flex-basis: 100%;
  margin: 0;
  padding: 40px;
  background-color: #527158;
}
.faq-wrapper h1, .faq-wrapper h3, .faq-wrapper p {
  font-weight: normal;
}

.questions {
  display:flex;
  justify-content:center;
  align-content: center;
  flex-flow: row wrap;
  margin-bottom: 50px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*------Tablet Styles Here--------*/

@media only screen and (min-width: 768px) {
  .content-wrapper{
    max-width: 768px;
    margin: 100px 0;
  }

/* ==========================================================================
   HomePage
   ========================================================================== */

  header .content-wrapper{
    width: 100%;
    margin: 0px;
    justify-content:space-between;
  }

  header nav {
    width: 20%;
    margin-right: 50px;
  }
  
  header img {
    margin-right: 80px;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
  }

  .header-divider {
    display: none;
  }

  /*Hero Area*/

  .hero-area h1 {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    margin: 30px 0 300px 60px;
    width: 60%;
    font-weight: normal;
  }

  .hero-area .content-wrapper {
    margin: 0;
  }

  /*Aside*/

  aside .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow:row;
    margin: 0;
    padding: 20px 30px;
  }
  aside .content-wrapper .form-description, 
  aside .content-wrapper .form{
    width: 45%;
    margin: 0px;
  }

/*Features*/

 .features .content-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    margin: 0;
  }

  .features h2 {
    margin: 10px 20px 30px 40px;
  }

  .features i {
    font-size: 3.75em;
    margin: 0 50px 40px 0;
  }

  .features article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column wrap;
    flex-basis: 50%;
  }

  .features .features-item-description{
    width: 50%;
  }

/*Reviews*/

  .reviews .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
  }

  .reviews .content-wrapper h1 {
    width: 100%;
    padding-left: 60px;
  }

  .reviews img {
    width: 300px;
    height: 400px;
    padding: 0 10px 30px 50px;
  }
  .reviews article{
    width: 50%;
    padding-bottom: 150px;
  }

  .reviews article p {
    margin: 0;
    padding-right: 30px;
    text-align: left;
  }
  
  /*Footer*/

  footer .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  footer .general-contact {
    margin: 0;
    width: 50%;
  }
  footer .social {
    margin: 0;
    width: 50%;
  }
  footer .copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }

  /* ==========================================================================
   About Page
   ========================================================================== */

.mission .content-wrapper {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  padding: 60px 40px 60px 0px;
  margin: 0;
  width: 100%;
}
.mission-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
.mission-content p {
  width: 45%;
  margin: 0;
  padding: 15px;
}

.maps figure {
  width: 100%;
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
}

.maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-content {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
  font-weight: normal;
}
.contact-content h2, .contact-content h3 {
  padding-left: 20px;
  font-weight: normal;
}
.mission-contact{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

  /* ==========================================================================
   FAQ Page
   ========================================================================== */

.faq-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
}

.questions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 50%;
}

}

/*-------Desktop Styles Here--------*/

@media only screen and (min-width: 1200px) {

  .content-wrapper{
    max-width: 100%;
  }

  .general-contact {
    flex-basis: 50%;
  }

/* ==========================================================================
   HomePage
   ========================================================================== */

  header .content-wrapper{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
  }

  header {
    justify-content:space-around;
    padding: 20px 0;
  }

  header figure {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-right: 80px;
  }

  header nav ul {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
  }

  .header-divider {
    display: none;
  }

  /*Hero Area*/

  .hero-area {
    margin: 0;
    padding: 0 0 150px 0px;
    text-align: left;
    width: 100%;
    background: url('../assets/unplugged-retreat.jpg') center no-repeat #333;
    background-size: cover;
  }
  .hero-area h1 {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    width: 60%;
    margin: 20px 300px 300px 100px;
    font-size: 3.25em;
  }
  .hero-area .content-wrapper {
    margin: 0;
  }

  /*Aside*/

    aside {
      padding: 10px;
    }

    aside .content-wrapper {
      margin: 20px 0;
      display: flex;
      justify-content: space-evenly;
      flex-flow:row;
  }
    aside .content-wrapper .form-description, 
    aside .content-wrapper .form{
      width: 35%;
      margin: 0px;
  }

    aside .content-wrapper .form {
      display: flex;
      justify-content: center;
      flex-flow: column wrap;
      padding: 10px;
  }

  /*Features*/
  .features .content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
  }
  .features-items article{
    display: flex;
    justify-content:space-around;
    flex-basis: 33%;
  }

  .features i {
    font-size: 3.75em;
    margin-bottom: 40px;
  }

  .features .features-item-description{
      flex-basis: 33%;
  }
  .features h1{
    width: 80%;
  }
 

  /*Reviews*/

  .reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .reviews h1 {
    width: 100%;
    padding: 0 0px 60px 100px;
    font-size: 2.25em;
  }

  .reviews img {
    width: 450px;
    height: 550px;
  }

  .reviews article div {
    width: 60%;
    margin: 100px;
  }

  .reviews article p {
    margin: 0;
    font-size: 1.5em;
  }
/* ==========================================================================
   About Page
   ========================================================================== */

   .mission .content-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    padding: 60px 40px 60px 20px;
    margin: 0;
  }
  
  .mission .content-wrapper h1 {
    width: 80%;
    margin: 0 100px 10px 100px;
  }

  .mission-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
  }

  .mission-content p {
    width: 35%;
    margin: 0;
    padding: 15px;
  }

  .maps figure {
    width: 100%;
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
  }
  
  .maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .contact-wrapper {
    margin: 0;
  }

  .contact-content {
      display:flex;
      justify-content: space-evenly;
      align-items: center;
      flex-flow: row wrap;
      width: 100%;
  }

  .contact-content h2{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
    width: 100%;
    font-size: 2.25em;
    font-weight: normal;
  }

  .contact-content h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
  }

  .contact-content div {
    width: 50%;
    margin: 0;
  }

  .mission-contact{
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;

  }

   /* ==========================================================================
   FAQ Page
   ========================================================================== */

  .faq-wrapper h1 {
    width: 80%;
    margin-left: 30px;
    font-size: 3em;
  }
  .faq-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #527158;
    padding: 40px;
  }
  .questions {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-basis: 45%;
    margin: 20px;
  }
  .questions h3, p {
    margin: 10px;
  }

}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

